main h2 {
    margin-top: 0;
    text-align: center;
    text-shadow: 0px 2px 3px rgb(11, 16, 72);
    padding: 15px;
    color: rgb(23, 145, 15);
    -webkit-box-shadow: 5px 10px 20px rgb(128, 128, 128);
            box-shadow: 5px 10px 20px rgb(128, 128, 128);
}

#hiking {
    margin-left: 50px;
    color: #490944;
}
.traveladvice {
    font-size: 40px;
    text-align: center;
    color: #490944;
    background-color: #55989e;
    border-radius: 30px;
    width: 150px;
    margin-left: 100px;
    position: sticky;
    top: 0;
    padding: 2px;
    border: 5px solid #490944;
    -webkit-animation-name: adviceanimation;
            animation-name: adviceanimation;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out; 
    animation-direction: alternate-reverse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes adviceanimation {
    0% {
        background-color: #55989e;
    }
    50% {
        background-color: #427479;
        color: #6c0d64;
    }
    100% {
        background-color: #365f62;
        color: #ac0c9f;
    }
}

@keyframes adviceanimation {
    0% {
        background-color: #55989e;
    }
    50% {
        background-color: #427479;
        color: #6c0d64;
    }
    100% {
        background-color: #365f62;
        color: #ac0c9f;
    }
}

#hikingadvice {
    color: #5b076a;
    list-style:square;
}

::marker { 
    color: rgb(106, 99, 109);
    font-size: 30px;
  }

.grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 10px auto;
    grid-template-columns: auto auto;
    gap: 10px;
    width: 950px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(128, 128, 128);
    padding: 10px;
    margin-left: 300px;
    border-radius: 5px;
  }
.grid-container div {
    background-color: rgba(250, 244, 250, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 17px;
}

.grid-container div::first-letter {
    font-size: 25px;
    color: rgb(128, 128, 128);
}

.grid-container div:hover {
    color: #6a0707;
    -webkit-transform:skew(10deg);
        -ms-transform:skew(10deg);
            transform:skew(10deg)
}

main form {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 0;
}

#submit:hover {
    color: #5b076a;
    background-color: rgb(7, 154, 34);
    cursor: pointer;
}
